@charset "UTF-8";

/* 回答はここに書いてね */
.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.btn--small {
  padding: 0 15px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 26px;
}

.btn--middle {
  padding: 0 20px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 32px;
}

.btn--large {
  padding: 0 25px;
  border-radius: 7px;
  font-size: 24px;
  line-height: 38px;
}

.btn--common {
  background-color: #00bcd4;
  color: #fff;
}

.btn--error {
  background-color: #ff4081;
  color: #fff;
}

.btn--disabled {
  background-color: #e5e5e5;
  color: #fff;
  cursor: default;
}

.btn--shadow {
  box-shadow: 0 1px 6px rgba(0,0,0, .12), 0 1px 4px rgba(0,0,0, .12)
}
/* 回答はここに書いてね */
