@charset "UTF-8";

/* 回答はここに書いてね */
.contents {
  display:table;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #ECF1F2;
  box-sizing: border-box;
}

.main {
  padding: 20px;
  margin: 0;
}

.contents main {
  margin: 0;
}

.is-orange {
  display:table-cell;
  width: 100px;
  background: #fdc8b8;
}

.is-purple {
  display:table-cell;
  background: #e0abd9;
}

.is-blue {
  display:table-cell;
  width: 100px;
  background: #b6d8ed;
}

.is-yellow {
  display:table-cell;
  background: #e5d32e;
}

.is-lightYellow {
  display:table-cell;
  background: #e4e67c;
}

.is-green {
  display:table-cell;
  width: 500px;
  background: #8fdcad;
}
/* 回答はここに書いてね */
